# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# environment variables
.env
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS-specific files
.DS_Store

# Windows specific files
Thumbs.db
Desktop.ini

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel/

# Netlify
.netlify/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Temporary files
*.log
*.bak
*.tmp
.cache/
temp/
